<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AnotherApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6F3D4E22A93768B6BDE69171346CF3EE8D5D2AF2</string>
				<key>dateExpires</key>
				<string>7/8/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F3D4E22A93768B6BDE69171346CF3EE8D5D2AF2</string>
						<key>dateExpires</key>
						<string>7/8/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TwitterCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LXL54684RS</string>
						<key>name</key>
						<string>RIGHT CARS VEHICLE RENTAL LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F3D4E22A93768B6BDE69171346CF3EE8D5D2AF2</string>
						<key>dateExpires</key>
						<string>7/8/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TwitterKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LXL54684RS</string>
						<key>name</key>
						<string>RIGHT CARS VEHICLE RENTAL LIMITED</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LXL54684RS.io.right.car</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LXL54684RS</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>LXL54684RS.io.right.car</string>
				</array>
			</dict>
			<key>name</key>
			<string>AnotherApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b74e2b93-b370-48fe-ae2b-920f7be1f090</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: io.right.car</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LXL54684RS</string>
				<key>name</key>
				<string>RIGHT CARS VEHICLE RENTAL LIMITED</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
